<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/catways-reservations.css">
    <title>Liste des Catways</title>
</head>
<body>
  <%- include('partials/header2.ejs') %>
  <main>
    <!-- Bouton pour revenir au tableau de bord -->
    <button class="retour">
      <a href="/tableau">Retour au Tableau de bord</a>
    </button>
      <!-- Formulaire pour créer un nouveau Catway -->
      <h1>Créer une nouvelle Catway</h1>
      <form action="/catways" method="POST" class="crea">
        <div>
            <label for="catwayNumber">Numéro : </label>
            <textarea type="text" id="catwayNumber" name="catwayNumber" required></textarea>
        </div>
        <div>
          <label for="type">Type : </label>
          <textarea type="text" id="type" name="type" required></textarea>
        </div>
        <div>
          <label for="catwayState">État : </label>
          <textarea id="catwayState" name="catwayState"></textarea>
        </div>
        <div>
          <button type="submit" class="button">Créer</button>
        </div>
      </form>
      <!-- Liste des Catways -->
      <h1>Liste des Catways</h1>
      <table>
        <thead>
          <tr>
            <th>Numéro</th>
            <th>Type</th>
            <th>État</th>
            <th>Réservations</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if (catways && catways.length > 0) { %>
          <% catways.forEach(catway => { %>
          <tr>
            <td><%= catway.catwayNumber %></td>
            <td><%= catway.type %></td>
            <td><%= catway.catwayState %></td>
            <td>
              <a href="/catways/<%= catway._id %>/reservations"><button class="button">Voir</button></a>
            </td>
            <td>
              <!-- Bouton pour afficher le formulaire de mise à jour -->
              <button onclick="toggleForm('<%= catway._id %>')" class="button" >Modifier</button>
              <!-- Formulaire de mise à jour -->
              <form id="update-form-<%= catway._id %>" 
              action="/catways/<%= catway._id %>?_method=PUT" 
              method="POST" 
              style="display: none;">
                <h4>Mettre à jour cet état :</h4>
                <textarea id="catwayState-<%= catway._id %>" 
                          name="catwayState" 
                          required><%= catway.catwayState %>
                </textarea>
                <button type="submit" class="button">Enregistrer</button>
              </form>
                <!-- Formulaire de suppression -->
                <form action="/catways/<%= catway._id %>?_method=DELETE" 
                      method="POST" 
                      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette catway ?')">
                <button type="submit" class="button">Supprimer</button>
              </form>
            </td>
          </tr>
          <% }); %>
          <% } else { %>
          <tr>
            <td>Aucune Catway trouvée.</td>
          </tr>
        <% } %>
        </tbody>
      </table>
    </main>

    <!-- Inclusion du script JS -->
    <script src="/javascript/catway_reservation.js"></script>

    <%- include('partials/footer.ejs') %>
</body>
</html>